**/.DS_Store
**/.vscode

obj/
bin/

**/.pio

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

PLAN*.md
ANALYSE*.md
JOURNAL_VALIDATION.md
RAPPORT_VALIDATION_DOCUMENT.md
VALIDATION_EXERCICES_QCM.md
continuer.sh